body {
  background-color: #9d9c9c;
  color: #111;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  padding: 30px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: white;
  height: 540px;
  width: 400px;
  border: 1px solid #dadada;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}
.top {
  display: flex;
  justify-content: space-around;
  gap: 90px;
}
img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid #dadada;
  background-size: contain;}
.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 17px;
}
.detail {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.available-cap {
  background-color: rgb(94, 237, 75);
  border-radius: 20px;
  border: 1px solid #dadada;
  padding: 3px;
  font-size: 13px;
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 30px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  letter-spacing: 0.6px;
}
.rate {
  font-size: 24px;
   margin-left: auto;
}
.username {
  color: black;
}
.expertice {
  color: gray;
  font-weight: 400;
}
.designation {
  color: rgb(49, 185, 31);
  font-family: Arial, Helvetica, sans-serif;
}
.skill-capsule {
  display: flex;
  gap: 10px;
}
.skill-capsule span {
  border: 1px solid #cac9c9;
  border-radius: 9999px;
  padding: 7px;
  /* height: 40px; */
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 70px;
}
.skill-capsule .additional-skills {
  background-color: rgb(61, 165, 244);
  color: white;
  font-weight: 600;
  font-size: 16px;
}
hr {
  width: 150px;
}
