*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
body{
  background: #000;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
  
  /* background-color: darkmagenta; */
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.light{
  background-color: lightgoldenrodyellow;
  color: black;
}
.dark{
  background-color: darkmagenta;
  color: white;
}
.listitems{
  display: flex;
  gap: 25px;
}
button{
  padding: 5px;
  border-radius: 100px;
  margin-top: 8px;
  outline: none;
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
   cursor: pointer;
}
button:active{
  scale: 1.1;
}